<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="MCPビルド"
            class="org.lo.d.eclipseplugin.mcp.view.MCPPropertyPage"
            id="org.lo.d.eclipseplugin.mcp.properties.samplePropertyPage">
         <enabledWhen>
         <adapt
               type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.open"/>
         </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.lo.d.eclipse-plugin.mcp.commands.category"
            name="MCP">
      </category>
      <command
            categoryId="org.lo.d.eclipse-plugin.mcp.commands.category"
            id="org.lo.d.eclipse-plugin.mcp.commands.AllCommand"
            name="MD5更新+難読化+ZIP圧縮">
      </command>
      <command
            categoryId="org.lo.d.eclipse-plugin.mcp.commands.category"
            id="org.lo.d.eclipse-plugin.mcp.commands.UpdateMD5AndReobfucateCommand"
            name="MD5更新+難読化">
      </command>
      <command
            categoryId="org.lo.d.eclipse-plugin.mcp.commands.category"
            id="org.lo.d.eclipse-plugin.mcp.commands.ReobfAndCompressCommand"
            name="難読化+ZIP圧縮">
      </command>
      <command
            categoryId="org.lo.d.eclipse-plugin.mcp.commands.category"
            id="org.lo.d.eclipse-plugin.mcp.commands.CompressOnlyCommand"
            name="ZIP圧縮">
      </command>
      <command
            categoryId="org.lo.d.eclipse-plugin.mcp.commands.category"
            id="org.lo.d.eclipse-plugin.mcp.commands.ReobfOnlyCommand"
            name="難読化">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.lo.d.eclipseplugin.mcp.handlers.AllCommandHandler"
            commandId="org.lo.d.eclipse-plugin.mcp.commands.AllCommand">
            <activeWhen>
            <reference
                  definitionId="org.lo.d.eclipse-plugin.mcp.condition.isOpenProjectOne">
            </reference>
            </activeWhen>
      </handler>
      <handler
            class="org.lo.d.eclipseplugin.mcp.handlers.UpdateMD5AndReobfucateCommandHandler"
            commandId="org.lo.d.eclipse-plugin.mcp.commands.UpdateMD5AndReobfucateCommand">
            <activeWhen>
            <reference
                  definitionId="org.lo.d.eclipse-plugin.mcp.condition.isOpenProjectOne">
            </reference>
            </activeWhen>
      </handler>
      <handler
            class="org.lo.d.eclipseplugin.mcp.handlers.ReobfAndCompressCommandHandler"
            commandId="org.lo.d.eclipse-plugin.mcp.commands.ReobfAndCompressCommand">
            <activeWhen>
            <reference
                  definitionId="org.lo.d.eclipse-plugin.mcp.condition.isOpenProjectOne">
            </reference>
            </activeWhen>
      </handler>
      <handler
            class="org.lo.d.eclipseplugin.mcp.handlers.CompressOnlyCommandHandler"
            commandId="org.lo.d.eclipse-plugin.mcp.commands.CompressOnlyCommand">
            <activeWhen>
            <reference
                  definitionId="org.lo.d.eclipse-plugin.mcp.condition.isOpenProjectOne">
            </reference>
            </activeWhen>
      </handler>
      <handler
            class="org.lo.d.eclipseplugin.mcp.handlers.ReobfOnlyCommandHandler"
            commandId="org.lo.d.eclipse-plugin.mcp.commands.ReobfOnlyCommand">
            <activeWhen>
            <reference
                  definitionId="org.lo.d.eclipse-plugin.mcp.condition.isOpenProjectOne">
            </reference>
            </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.lo.d.eclipse-plugin.mcp.menus.sampleMenu"
               label="MCPビルド"
               mnemonic="M">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="org.lo.d.eclipse-plugin.mcp.condition.isProject">
               </reference>
            </visibleWhen>
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.AllCommand"
                  id="org.lo.d.eclipse-plugin.mcp.menus.AllCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.ReobfAndCompressCommand"
                  id="org.lo.d.eclipse-plugin.mcp.menus.ReobfAndCompressCommand"
                  mnemonic="S">
            </command>
            <separator
                  name="mcp-plugin.separator1">
            </separator>
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.UpdateMD5AndReobfucateCommand"
                  id="org.lo.d.eclipse-plugin.mcp.menus.UpdateMD5AndReobfucateCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.CompressOnlyCommand"
                  id="org.lo.d.eclipse-plugin.mcp.menus.CompressOnlyCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.ReobfOnlyCommand"
                  id="org.lo.d.eclipse-plugin.mcp.menus.ReobfOnlyCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.lo.d.eclipse-plugin.mcp.condition.isOpenProjectOne">
                  <with
                        variable="selection">
                        <count value="1" />
                       <iterate ifEmpty="false">
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                               <test
                                     property="org.eclipse.core.resources.open"/>
                         </adapt>
                       </iterate>
                  </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.lo.d.eclipse-plugin.mcp.condition.isProject">
                  <with
                        variable="selection">
                       <iterate ifEmpty="false">
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                         </adapt>
                       </iterate>
                  </with>
      </definition>
   </extension>

</plugin>
