<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="サンプル・カテゴリー"
            id="org.lo.d.eclipse-plugin.mcp.commands.category">
      </category>
      <command
            name="サンプル・コマンド"
            categoryId="org.lo.d.eclipse-plugin.mcp.commands.category"
            id="org.lo.d.eclipse-plugin.mcp.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.lo.d.eclipse-plugin.mcp.commands.sampleCommand"
            class="org.lo.d.eclipseplugin.mcp.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lo.d.eclipse-plugin.mcp.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="サンプル・メニュー"
               mnemonic="M"
               id="org.lo.d.eclipse-plugin.mcp.menus.sampleMenu">
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.sampleCommand"
                  mnemonic="S"
                  id="org.lo.d.eclipse-plugin.mcp.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.lo.d.eclipse-plugin.mcp.toolbars.sampleToolbar">
            <command
                  commandId="org.lo.d.eclipse-plugin.mcp.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="org.lo.d.eclipse-plugin.mcp.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="サンプル・ファイルのインポート"
            id="org.lo.d.eclipseplugin.mcp.importWizards.sampleCategory">
      </category>
      <wizard
            name="ファイルのインポート"
            icon="icons/sample.gif"
            category="org.lo.d.eclipseplugin.mcp.importWizards.sampleCategory"
            class="org.lo.d.eclipseplugin.mcp.importWizards.ImportWizard"
            id="org.lo.d.eclipseplugin.mcp.importWizards.ImportWizard">
         <description>
            ローカル・ファイル・システムからワークスペースにファイルをインポートします。
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.lo.d.eclipse-plugin.mcp.contribution1">
         <menu
               label="新規サブメニュー"
               path="additions"
               id="org.lo.d.eclipse-plugin.mcp.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="新規アクション"
               class="org.lo.d.eclipseplugin.mcp.popup.actions.新規アクション"
               menubarPath="org.lo.d.eclipse-plugin.mcp.menu1/group1"
               enablesFor="1"
               id="org.lo.d.eclipse-plugin.mcp.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="サンプル設定"
            class="org.lo.d.eclipseplugin.mcp.preferences.SamplePreferencePage"
            id="org.lo.d.eclipseplugin.mcp.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lo.d.eclipseplugin.mcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="サンプル・ページ"
            nameFilter="*.*"
            class="org.lo.d.eclipseplugin.mcp.properties.SamplePropertyPage"
            id="org.lo.d.eclipseplugin.mcp.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
